


    
    body {
        background-color:hsl(218, 28%, 13%);
        color:white;
        width: 100%;
        margin: 0;
        height: auto;
        font-family: "Raleway";
        white-space: wrap;
    }

   
button {
    margin-top:15px;
    width: 70%;
    background-color: hsl(176, 68%, 64%);
    border-radius:2em;
   height:40px;
   color: rgb(14, 8, 8);
   font-size: 15px;
   font-weight: 800;
}
nav {
    width: 90%;
    height:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
      font-size: 18px;
      margin: 10px;
      margin-left:0;
      color: rgb(224, 214, 214);
      font-weight: lighter;
    }
    img{
        margin:15px;
height: 45%;
width: 25%;
padding-top: 10px;
margin-right: 8px;
margin-left: 40px;

    }
}

.nav-text {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-right: 2%;
    align-items: center;
}

 .top {
    width:100%;
    height:auto;
    margin:0;
   margin-bottom: 100px;

   h1 {
       font-size: 30px;
 
   }

 img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
   
}
.img-container {
    padding-top: 12%;
    width: 300px;
    height: 300px;
    margin:auto
        }

    .top-text {
        width: 90%;
        margin: auto;
        text-align: center;
        inline-size: 90%;
        overflow-wrap: normal;
        
        p{
            width: 90%;
            margin: auto;
        }
        }
}


.card-section {
display: flex;
flex-direction: column;
text-align: center;
width: 95%;

margin-bottom: 10%;

 
    .card {
        text-overflow: ellipsis;
        margin:auto;
        margin-bottom: 50px;
       width: 90%;
       word-wrap: break-word;
       
    }
}
    .section-double {
        display: flex;
flex-direction: column;
width: 85%;
margin: 0;
margin-bottom: 20%;
justify-content: center;


        .text-container{
            white-space: wrap;
            text-align: center;
        }


        h3{
            font-size: 30px;
        }

        .img-container{
            height: 80%;
            width: 80%;
            margin:auto;
        }
        img {
            object-fit: cover;
            max-width: 90%;
            max-height: 90%;
        }
        a {
            color: cyan;
        }

        .two {
            
            max-width: 90%;
            margin-left: 10%;
            margin-top:50%;
        }
         .Tests {
            text-align: justify;
           margin:0;
            background-color:  hsl(219, 30%, 18%) !important;
       padding:5% 10%;
       
       margin-bottom: 20%;
       
        h4{ 
       margin-bottom: 3%;
            }
        .img-container {
            padding-left:10%;
            width: 25%;
            height: 25%;
         img {
object-fit: cover;
border-radius: 40%;
         }
        }
        
        }
    }

    .section-last {
        display: flex;
flex-direction: column;
width: 92%;
margin: 0;
margin-bottom: 20%;



        .input-card{
            background-color: hsl(219, 30%, 18%) !important;
            text-align: center;
            padding-bottom: 20%;
            margin-bottom: 20%;
            
            p{
                width: 80%;
                margin:auto;
                padding:5%;
            }
             
            h3{
                font-size: 35px;
            }
            input {
            width: 70%;
            margin-bottom: 5%;
            border-radius:2em;
            height: 30px;
            }
            button{
                width: 70%;
            }
        }

        img {
            max-width: 90%;
            max-height: 90%;
            object-fit: cover;
           
        }
        .img-container {
            padding-top: 20%;
            width: 300px;
            height: 300px;
            margin:auto
                }

            
            .fylo{
            margin-bottom: 10%;
            margin-top: 10%;
                img {
                    margin-right:20px
                }
            } 
    }
    .bottom{
        width: 90%;
        margin-left: 10%;
    }
    .social {
        img{
            margin:20px;
        }
    }





    

    @media (min-width:800px) {
        button {
            width: 40%;
        };
      nav {
          h2 {
              margin:20px;
          }
       .logo{
           margin:0;
           margin-top:20px;
           margin-left:100px;
           width: 10%;
        }
      }
        
    

    .top {
        margin: auto;
        .img-container {
            padding-top: 0%;
            width: 50%;
            height: 50%;
            margin:auto;
            display: flex;
            justify-content: center;
                }

                .top-text {
                    margin: auto;
                    width:60%;
                    
                }
    }

    .card-section {
        display: flex;
        width: 65%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin:10% auto;
        
         .card{
             width: 40%;
             margin-left:10%
            
         }
    }

    .section-double{
        margin-bottom: 5%;
        .img-container{
            display: flex;
            justify-content: center
        }
        .one{
            display: flex;
            flex-direction: row;
           
        }
        .two{
            margin-top: 15%;
            display: flex;
            flex-direction: row;
           justify-content: center;
           width: 100%;

            .Tests{
                padding:5%;
                margin: 2%;
                text-align: left;
                width: auto;
                
            }
        }

    }

    .section-last{
        display: flex;
        margin-bottom: 3%;
        .input-card{
            margin: auto;
            width: 50%;
            padding: 5% 15%;
            h3{
                font-size: 45px;
            }
        }

        .bottom{
            display: flex;
            flex-direction: row;
            margin-top: 10%;

            .about{
            margin:0 10%;
             p{
                 padding-bottom: 55%;
             }
            }
            .newrow{
                margin: 0 10%;
                p {
                    padding-bottom: 55%;
                }
            }
            
        }
    }

}