body {
  background-color: #181f2a;
  color: white;
  width: 100%;
  margin: 0;
  height: auto;
  font-family: "Raleway";
  white-space: wrap;
}

button {
  margin-top: 15px;
  width: 70%;
  background-color: #65e2d9;
  border-radius: 2em;
  height: 40px;
  color: #0e0808;
  font-size: 15px;
  font-weight: 800;
}

nav {
  width: 90%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav h2 {
  font-size: 18px;
  margin: 10px;
  margin-left: 0;
  color: #e0d6d6;
  font-weight: lighter;
}

nav img {
  margin: 15px;
  height: 45%;
  width: 25%;
  padding-top: 10px;
  margin-right: 8px;
  margin-left: 40px;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  margin-right: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 100px;
}

.top h1 {
  font-size: 30px;
}

.top img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top .img-container {
  padding-top: 12%;
  width: 300px;
  height: 300px;
  margin: auto;
}

.top .top-text {
  width: 90%;
  margin: auto;
  text-align: center;
  inline-size: 90%;
  overflow-wrap: normal;
}

.top .top-text p {
  width: 90%;
  margin: auto;
}

.card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 95%;
  margin-bottom: 10%;
}

.card-section .card {
  text-overflow: ellipsis;
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
  word-wrap: break-word;
}

.section-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0;
  margin-bottom: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-double .text-container {
  white-space: wrap;
  text-align: center;
}

.section-double h3 {
  font-size: 30px;
}

.section-double .img-container {
  height: 80%;
  width: 80%;
  margin: auto;
}

.section-double img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 90%;
  max-height: 90%;
}

.section-double a {
  color: cyan;
}

.section-double .two {
  max-width: 90%;
  margin-left: 10%;
  margin-top: 50%;
}

.section-double .Tests {
  text-align: justify;
  margin: 0;
  background-color: #202a3c !important;
  padding: 5% 10%;
  margin-bottom: 20%;
}

.section-double .Tests h4 {
  margin-bottom: 3%;
}

.section-double .Tests .img-container {
  padding-left: 10%;
  width: 25%;
  height: 25%;
}

.section-double .Tests .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40%;
}

.section-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92%;
  margin: 0;
  margin-bottom: 20%;
}

.section-last .input-card {
  background-color: #202a3c !important;
  text-align: center;
  padding-bottom: 20%;
  margin-bottom: 20%;
}

.section-last .input-card p {
  width: 80%;
  margin: auto;
  padding: 5%;
}

.section-last .input-card h3 {
  font-size: 35px;
}

.section-last .input-card input {
  width: 70%;
  margin-bottom: 5%;
  border-radius: 2em;
  height: 30px;
}

.section-last .input-card button {
  width: 70%;
}

.section-last img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-last .img-container {
  padding-top: 20%;
  width: 300px;
  height: 300px;
  margin: auto;
}

.section-last .fylo {
  margin-bottom: 10%;
  margin-top: 10%;
}

.section-last .fylo img {
  margin-right: 20px;
}

.bottom {
  width: 90%;
  margin-left: 10%;
}

.social img {
  margin: 20px;
}

@media (min-width: 800px) {
  button {
    width: 40%;
  }
  nav h2 {
    margin: 20px;
  }
  nav .logo {
    margin: 0;
    margin-top: 20px;
    margin-left: 100px;
    width: 10%;
  }
  .top {
    margin: auto;
  }
  .top .img-container {
    padding-top: 0%;
    width: 50%;
    height: 50%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top .top-text {
    margin: auto;
    width: 60%;
  }
  .card-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10% auto;
  }
  .card-section .card {
    width: 40%;
    margin-left: 10%;
  }
  .section-double {
    margin-bottom: 5%;
  }
  .section-double .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-double .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-double .two {
    margin-top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .section-double .two .Tests {
    padding: 5%;
    margin: 2%;
    text-align: left;
    width: auto;
  }
  .section-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3%;
  }
  .section-last .input-card {
    margin: auto;
    width: 50%;
    padding: 5% 15%;
  }
  .section-last .input-card h3 {
    font-size: 45px;
  }
  .section-last .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10%;
  }
  .section-last .bottom .about {
    margin: 0 10%;
  }
  .section-last .bottom .about p {
    padding-bottom: 55%;
  }
  .section-last .bottom .newrow {
    margin: 0 10%;
  }
  .section-last .bottom .newrow p {
    padding-bottom: 55%;
  }
}
/*# sourceMappingURL=main.css.map */